/* Media query */

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-container {
        flex-direction: column;
        width: 100%;
    }

    .logo-icon{
        margin-bottom: 20px;
    }
}

nav{
    border-bottom: 2px solid;
    border-bottom-color: lightgray;
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    
}



.logo-icon{
    border: 1px solid;
    background-image: url(https://github.com/revou-fundamental-course/22-jul-24-kmuzaki/blob/main/assets/logo%20icon.png?raw=true);
    width: 50px;
    height: 50px;
    background-size: cover;
}

.nav-container{
    display: flex;
}


.nav-item{
    border: 1px solid;
    padding: 8px;
}

.main-title{
    text-align: center;
}

.main-title-header{
    font-size: 25px;
}

.main-title-sub{
    font-size: 10px;
}

.main-content{
    display: flex;
}

.main-content-item{
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-banner{
    border: 1px solid;
    width: 100%;
    height: 250px;
}

.main-content-banner-container{
    width: 100%;
    height: 250px
}

.banner-1{
    background-image: url(https://github.com/revou-fundamental-course/22-jul-24-kmuzaki/blob/main/assets/IMG20240622063349.jpg?raw=true);
}

.banner-2{
    background-image: url(https://github.com/revou-fundamental-course/22-jul-24-kmuzaki/blob/main/assets/IMG20240622075503.jpg?raw=true);
}

.banner-3{
    background-image: url(https://github.com/revou-fundamental-course/22-jul-24-kmuzaki/blob/main/assets/IMG20240707062008.jpg?raw=true);
}

.item-icon{
    width: 25px;
    height: 25px;
    border: 1px solid;
    background-image: url(https://picsum.photos/25);
    border-radius: 50%;
}

.main-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-form{
    padding-right: 20%
}

input{
    width: 75%;
  padding: 14px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
    width: 75%;
    height: 35px;
    background-color: aliceblue;
}

.main-content-form-select{
    background-color: azure;
    margin-bottom: 15px;
}

.item-numbers{
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
}
